@font-face {
    font-family: Birthday-font;
    src: url(Birthday-font.ttf);
}

body{
    text-align: center;
    font-family: birthday-font;
    
}

#header{
    font-size: 100px;
    color: #1982c4;
}
#goku-img{
    size: 200px;
}